# Git
.git
.gitignore

# Docker
.Docker

# Pyhton
ShadyStyle/__pycache__/
ShadyStyle/*/__pycache__/
ShadyStyle/*/*/__pycache__/
ShadyStyle/*/*/*/__pycache__/
.env/
.venv/
venv/

#Local PostgreSQL data
data/