{% extends 'layout.html'%}


{% block content %}

<header>
   <!-- header inner -->
   <div class="header">
   <div class="container-fluid">
       <div class="row">
           <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
               <div class="full">
               <div class="center-desk">
                   <div class="logo">
                       <a href="{% url 'index' %}"><img src="media/images/logo.png" alt="#" /></a>
                   </div>
               </div>
               </div>
           </div>
           <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
               <nav class="navigation navbar navbar-expand-md navbar-dark ">
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarsExample04">
                   <ul class="navbar-nav mr-auto">
                       <li class="nav-item active">
                           <a class="nav-link" href="{% url 'index' %}">Home</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" href="{% url 'about' %}">About</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" href="{% url 'glasses' %}">Our Glasses</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" href="{% url 'cart' %}">Cart</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                       </li>
                       <li class="nav-item d_none login_btn">
                           <a class="nav-link" href="#">Login</a>
                       </li>
                       <li class="nav-item d_none">
                           <a class="nav-link" href="#">Register</a>
                       </li>
                       <li class="nav-item d_none sea_icon">
                           <a class="nav-link" href="#"><i class="fa fa-shopping-bag" aria-hidden="true"></i><i class="fa fa-search" aria-hidden="true"></i></a>
                       </li>
                   </ul>
               </div>
               </nav>
           </div>
       </div>
   </div>
   </div>
</header>


<!-- banner -->
<section class="banner_main">
   <div id="banner1" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
         <li data-target="#banner1" data-slide-to="0" class="active"></li>
         <li data-target="#banner1" data-slide-to="1"></li>
         <li data-target="#banner1" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
   
         <div class="carousel-item active">
            <div class="container">
               <div class="carousel-caption">
                  <div class="text-bg">
                     <h1> <span class="blu">Welcome <br></span>To Our Sunglasses</h1>
                     <figure><img src="media/images/banner_img.png" alt="#"/></figure>
                     <a class="read_more" href="{% url 'glasses' %}">Shop Now</a>
                  </div>
               </div>
            </div>
         </div>
         
         <div class="carousel-item">
            <div class="container">
               <div class="carousel-caption">
                  <div class="text-bg">
                     <h1> <span class="blu">Welcome <br></span>To Our Sunglasses</h1>
                     <figure><img src="media/images/banner_img.png" alt="#"/></figure>
                     <a class="read_more" href="{% url 'glasses' %}">Shop Now</a>
                  </div>
               </div>
            </div>
         </div>
         <div class="carousel-item">
            <div class="container">
               <div class="carousel-caption">
                  <div class="text-bg">
                     <h1> <span class="blu">Welcome <br></span>To Our Sunglasses</h1>
                     <figure><img src="media/images/banner_img.png" alt="#"/></figure>
                     <a class="read_more" href="{% url 'glasses' %}">Shop Now</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
      </a>
      <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </a>
   </div>
</section>
<!-- end banner -->
<!-- about section -->
<div class="about">
   <div class="container">
      <div class="row d_flex">
         <div class="col-md-5">
            <div class="about_img">
               <figure><img src="media/images/about_img.png" alt="#"/></figure>
            </div>
         </div>
         <div class="col-md-7">
            <div class="titlepage">
               <h2>About Our Shop</h2>
               <p>Welcome to ShadyStyle, your one-stop online shop for all things sunglasses.
                  At ShadyStyle, we believe that sunglasses are more than just a fashion accessory - they’re a statement of style, a form of self-expression, and a shield from the sun’s rays. That’s why we’ve dedicated ourselves to providing a diverse range of high-quality sunglasses to suit every style and need.</p>
            </div>
            <a class="read_more" href="#">Read More</a>
         </div>
      </div>
   </div>
</div>
<!-- about section -->
<!-- Our  Glasses section -->
<div class="glasses">
   <div class="container">
      <div class="row">
         <div class="col-md-10 offset-md-1">
            <div class="titlepage">
               <h2>Our Glasses</h2>
               <p>At ShadyStyle, we take pride in the variety and quality of the glasses we offer. Our collection features a diverse range of styles, from classic aviators to trendy oversized frames, ensuring there’s something for everyone. Each pair is crafted with care, using high-quality materials for durability and comfort. Whether you’re looking for a bold fashion statement or a subtle complement to your everyday look, you’ll find it at ShadyStyle.
               </p>
            </div>
         </div>
      </div>
   </div>
   
   
   <div class="container-fluid">
      <div class="row">

         {% for glass in sunglass %}
         <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6" onclick="getSunglassPage('{{ glass.id }}'); pageLoading()">
            <div class="glasses_box">
               <figure><img src="{{ glass.img.url }}" alt="#"/></figure>
               <h3><span class="blu">$</span>{{ glass.price }}</h3>
               <p>{{ glass.name }}</p>
            </div>
         </div>
         {% endfor %}
         
         <div class="col-md-12">
            <a class="read_more" href="#">Read More</a>
         </div>

      </div>
   </div>
</div>
<!-- end Our  Glasses section -->
<!-- Our shop section -->
<div id="about" class="shop">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-5">
            <div  class="shop_img">
               <figure><img src="media/images/shop_img.png" alt="#"/></figure>
            </div>
         </div>
         <div class="col-md-7 padding_right0">
            <div class="max_width">
               <div class="titlepage">
                  <h2>Best SunGlasses  At Our shop</h2>
                  <p>Discover the best of eyewear at ShadyStyle. Our “Best Sunglasses” section showcases a curated selection of top-rated sunglasses, loved by our customers for their style, comfort, and quality. These glasses represent the perfect blend of fashion and function, offering superior UV protection while ensuring you stay at the forefront of eyewear trends. Explore our “Best Sunglasses” today and find your new favorite pair!</p>
                  <a class="read_more" href="{% url 'glasses' %}">Shop Now</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- end Our shop section -->
<!-- clients section -->
<div class="clients">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage">
               <h2>What say our clients</h2>
               <p>Our clients are at the heart of everything we do at ShadyStyle. Here’s what some of them have to say about their experience with us:</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <div id="myCarousel" class="carousel slide clients_Carousel " data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container">
                        <div class="carousel-caption ">
                           <div class="row">
                              <div class="col-md-12">
                                 <div class="clients_box">
                                    <figure><img src="media/images/sungano1.png" alt="#"/></figure>
                                    <h3>SBM.</h3>
                                    <p>“ShadyStyle offers an amazing variety of sunglasses. The quality is top-notch and the shopping experience is seamless.”</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container">
                        <div class="carousel-caption">
                           <div class="row">
                              <div class="col-md-12">
                                 <div class="clients_box">
                                    <figure><img src="media/images/sungano1.png" alt="#"/></figure>
                                    <h3>B MOYO.</h3>
                                    <p>“I love my new pair of aviators from ShadyStyle. They’re stylish, comfortable, and offer great UV protection.”</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container">
                        <div class="carousel-caption">
                           <div class="row">
                              <div class="col-md-12">
                                 <div class="clients_box">
                                    <figure><img src="media/images/sungano1.png" alt="#"/></figure>
                                    <h3>S MOYO.</h3>
                                    <p>“The customer service at ShadyStyle is impressive. They were responsive and helped me choose the perfect pair of shades.”</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
               <i class='fa fa-angle-left'></i>
               </a>
               <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
               <i class='fa fa-angle-right'></i>
               </a>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- end clients section -->
<!-- contact section -->
<div id="contact" class="contact">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <form id="request" class="main_form">
               <div class="row">
                  <div class="col-md-12 ">
                     <h3>Contact Us</h3>
                  </div>
                  <div class="col-md-12 ">
                     <input class="contactus" placeholder="Name" type="type" name="Name"> 
                  </div>
                  <div class="col-md-12">
                     <input class="contactus" placeholder="Phone Number" type="type" name="Phone Number"> 
                  </div>
                  <div class="col-md-12">
                     <input class="contactus" placeholder="Email" type="type" name="Email">                          
                  </div>
                  <div class="col-md-12">
                     <input class="contactusmess" placeholder="Message" type="type" Message="Name">
                  </div>
                  <div class="col-md-12">
                     <button class="send_btn">Send</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
   <div class="container-fluid">
      <div class="map_section">
         <div id="map">
         </div>
      </div>
   </div>
</div>
</div>
<!-- end contact section -->
<!--  footer -->

<!-- end footer -->

{% endblock %}